<h1 mat-dialog-title>Confirm</h1>
<div mat-dialog-content>Do you want to remove?</div>
<div mat-dialog-actions>
    <button (click)="dialogRef.close(true)" mat-raised-button color="primary" type="submit">OK</button>
    <button (click)="dialogRef.close(false)" mat-raised-button color="accent">Cancel</button>
    <!-- <button (click)="dialogRef.close(true)" mat-raised-button color="primary" type="submit">OK</button>
    <a (click)="onCancel()" mat-raised-button color="accent">Cancel</a> -->
</div>
<!-- <form>
    <mat-card-header>
        <h3>Do you want to remove?</h3>
    </mat-card-header>
    <mat-card-actions align="end">
        <button (click)="onConfirm()" mat-raised-button color="primary" type="submit">OK</button>
        <a (click)="onCancel()" mat-raised-button color="accent">Cancel</a>
        
    </mat-card-actions>
</form> -->